input{
    padding: 5px;
}

select{
    padding: 5px;
}

.nav-item-spacing {
    margin-right: 25px;
 
}

.r{
    height: 20px;
    width: 20px;
    background-color: red;
}

.b{
    height: 20px;
    width: 20px;
    background-color: blue;
}

.g{
    height: 20px;
    width: 20px;
    background-color: green;
}